html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f4e5f;
    font-family: 'Roboto', sans-serif;
}

.stopwatch {
    background-color: #3b8686;
    border-radius: 10px;
    width: 320px;
    padding: 0;
    margin: 0;
}

.display {
    margin: 0;
    text-align: center;
    font-size: 72px;
    font-weight: 800;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    color: white;
}

.display span {
    padding: 0;
    margin: 0;
}

.control {
    text-align: center;
    padding-bottom: 14px;
    margin: 0;
}

button {
    border-style: none;
    background-color: #a8dba8;
    color: #3B4E32;
    width: 100px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 800;
}

button:active,
button:hover,
button:focus {
    outline: 0;
}